body{
  margin: 0;
}

.search {
  max-height: 440px;
  position: sticky;
  top: 60px;
}

.article_card {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

  @-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.file-upload-message {
 padding: 100px;
}

.icon {
 font-size: 100px;
}

li {
 list-style: none;
}

.indexText {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}



// モーダルメッセージ

.messageCard {
  position: relative;

}

.messageModal{
  display: none;
  width:90%;
  height: 90%;
  margin-left: 40px;
  position: fixed;
  background: rgba(0,0,0,6);
  position: absolute;
  top: 20px;
  z-index: 1;
}

.bord {
  height: 80%;
  width: 90%;
  background:#fff;
  position:absolute;
  top:15%;
  left:5%;
  z-index: 2;
}

.close_area {
  z-index: 2;
  position: absolute;
  top: 1%;
  right: 1%;

}

.close_area button {
  background: red;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 5px;
  padding: 2px 5px;
  color: #ddd;
  cursor: pointer;
  text-align: center; 
  display: block;
}

#profile_area {
  height: 50px;
  width: 300px;
  margin: 0 auto;

}






