body{
  margin: 0;
}

.search {
  max-height: 440px;
  position: sticky;
  top: 60px;
}

.article_card {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.file-upload-message {
 padding: 100px;
}

.icon {
 font-size: 100px;
}

.indexText {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}


.collapse.show {
  display: block;
}

.imgAuto {
  width: 100%;
  max-width: 100%;
  height: 250px;

}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}






















